html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #00000000;
  border-color: #00000000;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 100%;
}
button:active {
  background-color: #ffffff00;
}
.italique {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  background-color: #ffffff00;
}

h2 {
  font-size: 3.5vw;
  margin-bottom: 1vh;
  margin-top: -2vw;
  /* text-shadow: 3px 6px 2px #00000081; */
}

h2auteur {
  font-size: 3.5vw;
  color: #1c3553;
  /* text-shadow: 3px 6px 2px #00000081; */
}

h2bis{
  font-size: 3.5vw;
  margin-bottom: 1vh;
  margin-top: -2vw;
  /* text-shadow: 3px 6px 2px #00000081; */
}


h2mobile {
  font-size: 7vw;
  margin-bottom: 1vh;
  margin-top: -56vw;
  /* text-shadow: 3px 6px 2px #00000081; */
  text-align: center;
}



h2mobile2 {
  font-size: 7vw;
  margin-bottom: 1vh;
  margin-top: 3vh;
  margin-left: -4vw;
  /* text-shadow: 3px 6px 2px #00000081; */
  text-align: center;
}
h2mobile3 {
  font-size: 7vw;
  margin-bottom: 1vh;
  margin-top: 8vh;
  /* text-shadow: 3px 6px 2px #00000081; */
  display: inline;
  text-align: center;
}

h2mobile4 {
  font-size: 7vw;
  margin-bottom: 1vh;
  margin-top: 0;
  /* text-shadow: 3px 6px 2px #00000081; */
  text-align: center;
}


h3 {
  font-size: 2.5vw;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #1c3553;
}

h3mobile {
  font-size: 5vw;
  margin-bottom: 1vw;
  margin-top: 28vh;
  text-align: center;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Trajanus';
  src: url('../public/fonts/Trajanus\ LT\ W04\ Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/OneDrive-2022-12-26/Montserrat-SemiBold.ttf');
}
.slider {
  position: absolute;
  top: 28%; left: auto;
  width: 61%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000000000;
  margin: auto;
}
.slider-textmobile-title-container {
  width: 100%;
  text-align: center;
}
.slider2 {
  position: absolute;
  width: 61%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 3000000000; */
  margin: auto;
  margin-top: 12vw;
  margin-left: 19vw;
}
.nowrap {
  white-space: nowrap;
}
/* .slidermobile {
  width: 100vw;
  position: absolute;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: auto;
  margin-top: 17vh;
} */

.slidermobile {
  width: 100vw;
  position: absolute;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: auto;
  margin-top: -13vh;
}

.tailleintro {
  width: 100vw;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}


.slide {
  opacity: 0;
  transition-duration: 2s ease;
  
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
  width: 100%;
}








.slidemobile {
  opacity: 0;
  transition-duration: 2s ease;
  z-index: 2;
}

.slide.activemobile {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
  z-index: -20;
  width: 80%;
}

.navbar {

  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 7;
}
.navbarmobile {

  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 7;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  z-index: 35;
}
.menu-barsmobile {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  z-index: 35;
}


.nav-menu {
  background-color: #2d5f9bba;
  width: fit-content;
  height: 150vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding-top: 20vh;
  left: -100%;
  transition: 850ms;
  z-index: 35;
}
.nav-menumobile {
  background-color: #2d5f9bba;
  width: fit-content;
  height: 150vh;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: -20vh;
  left: -100%;
  transition: 850ms;
  z-index: 35;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 35;
}
.nav-menu.activemobile {
  left: 0;
  transition: 350ms;
  z-index: 45000000;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  z-index: 7;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  z-index: 7;
}

.nav-text a:hover {
  background-color: #1a83ff;
  z-index: 7;
}

.nav-menu-items {
  z-index: 7;
  padding: 0rem;
  justify-content: center;
  text-align: center;
}
.nav-menu-itemsmobile {
  z-index: 45000000;
  padding: 0rem;
  justify-content: center;
  text-align: center;
  margin-top: -7vh;
  overflow: scroll;
}


.navbar-toggle {

  width: 100%;
  margin-bottom: 110%;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 7;
}

.navbar-toggle {

  width: 100%;
  margin-bottom: 110%;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 7;
}

span {
  margin-left: 16px;
  z-index: 7;
}

.slider-image {
  width: 20%;
  margin-left: -10px;
  /* margin-right: auto; */
}
.slider-image-container {
  display: block;
}

.slider-imagemobile {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.slider-image-containermobile {
  display: flex;
  justify-content: center;
}

.slider-text {
  /* text-shadow: 2px 2px 1.5px #ff0000; */
  position: absolute;
  margin-top: -23vw;
  margin-left: 22.5%;
  margin-right: -2%;
  text-align: justify;
  font-size: 1.2vw;
  color: #1c3553;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
/* @media (min-width: 500px) and (max-width: 575px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 50%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
    width: 80vw;
  
  }
 }
@media (min-width: 471px) and (max-width: 480px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 21%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
    width: 80vw;
  
  }
 }

@media (min-width: 450px) and (max-width: 470px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 19%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
    width: 80vw;
  
  }
 }
 @media (min-width: 421px) and (max-width: 449px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 14%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
    width: 80vw;
  
  }
 }
 @media (min-width: 390px) and (max-width: 420px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 5%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
    width: 80vw;
  
  }
 }

@media (min-width: 370px) and (max-width: 390px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 38vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
  
  }
 }
 @media (min-width: 301px) and (max-width: 369px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 32vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
  
  }
 }

 @media (min-width: 260px) and (max-width: 300px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 27vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
  
  }
 }
 @media (min-width: 222px) and (max-width: 259px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 22vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
  
  }
 }

 @media (min-width: 0px) and (max-width: 221px) {
  .slider-textmobile {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    margin-top: 19vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.8vw;
    color: black;
    box-sizing: border-box;
  
  }
 } */

 .slider-textmobile {
  /* text-shadow: 2px 2px 1.5px #474747; */
  position: absolute;
  text-align: justify;
  margin-top: 65%;
  /* margin-left: 5%;
  margin-right: 5%; */
  font-size: 3vw;
  color: #1c3553;
  box-sizing: border-box;

}
.loader {
  width:20vw;
  align-self: center;
  margin-top: 2vh;
  -webkit-animation: load 15s linear forwards;
    animation: load 15s linear forwards;
    z-index: 500000000000000000;

}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}
.responsive-player-container {
  width: 65%;
  position: absolute;
  z-index: 450000;
  margin-top: 10%;
  margin-left: 17%;
}
.responsive-player-mobile {
  width: 80%;
  position: absolute;
  margin-top: 40%;
  margin-left: 10%;
  /* z-index: 4500000000; */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes load {
  0% { transform: rotate(0deg), }
  100% { transform: rotate(1700deg);}
}

@keyframes load {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(1700deg);}
}
.inVisibleStyleForLoader {

  
  display: none;

}


.loadercontainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;                                                                                                                                                                             
  background-color: rgb(255, 255, 255);
  z-index: 50000000000000000000000000;
  /* -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards; */
}


@-webkit-keyframes fadeinout {
  0% { opacity: 1;  z-index: 50000000000000000000000000; }
  80% {opacity: 1;  z-index: 50000000000000000000000000;}
  99% {z-index: 50000000000000000000000000;}
  100% { opacity: 0;  z-index: -5000; display: none;}
}

@keyframes fadeinout {
  0% { opacity: 1;  z-index: 50000000000000000000000000; }
  80% {opacity: 1; z-index: 50000000000000000000000000; }
  99% {z-index: 50000000000000000000000000;}
  100% { opacity: 0; z-index: -5000;display: none;}
}

@-webkit-keyframes fadeinoutpage {
  0% { opacity: 0;}
  80% {opacity: 0; }
  100% { opacity: 1;}
}

@keyframes fadeinoutpage {
  0% { opacity: 0;}
  80% {opacity: 0; }
  100% { opacity: 1;}
}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* @media (min-width: 1300px) and (max-width: 1506px) {
  .slider-image {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 40%;
    margin-right: 6%;
    text-align: justify;
    font-size: 120%;
    color: black;
    box-sizing: border-box;
  
  }
} */

/* @media (min-width: 1300px) and (max-width: 1399px) {
  .slider-image {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 40%;
    margin-right: 6%;
    text-align: justify;
    font-size: 110%;
    color: black;
    box-sizing: border-box;
  
  }
}

@media (min-width: 1230px) and (max-width: 1299px) {
  .slider-image {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 40%;
    margin-right: 4%;
    text-align: justify;
    font-size: 104%;
    color: black;
    box-sizing: border-box;
  
  }

  .slider {
    top: 35%;
  }
} */

/* @media (min-width: 950px) and (max-width: 1149px) {
  .slider-image {

    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 40%;
    margin-right: 3%;
    text-align: justify;
    font-size: 85%;
    color: black;
    box-sizing: border-box;
  
  }

  .slider {
    top: 37%;
  }
} */



/* @media (min-width: 1050px) and (max-width: 1230px) {
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 40%;
    margin-right: 4%;
    text-align: justify;
    font-size: 100%;
    color: black;
    box-sizing: border-box;
  
  }
} */

/* @media (min-width: 900px) and (max-width: 949px) {
  .slider-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 42%;
    margin-right: 8%;
    text-align: justify;
    font-size: 65%;
    color: black;
    box-sizing: border-box;
  
  }
}


@media (min-width: 676px) and (max-width: 899px) {
  .slider-image {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 42%;
    margin-right: 8%;
    text-align: justify;
    font-size: 65%;
    color: black;
    box-sizing: border-box;
  
  }
} */



/* @media (min-width: 1601px) and (max-width: 1749px) {
  .slider-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }

}


@media (min-width: 1507px) and (max-width: 1749px) {
.slider-text {
  text-shadow: 2px 2px 1.5px #474747;
  position: absolute;
  margin-left: 38%;
  margin-right: 2%;
  text-align: justify;
  font-size: 135%;
  color: black;
  box-sizing: border-box;

}
.slider {
  top: 37%;

}
}

@media (min-width: 1750px) and (max-width: 1900px) {
  .slider-text {
    font-size: 150%;
  }
  .slider {
    top: 35%;
  
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  .slider-text {
    font-size: 170%;
  }
  .slider {
    top: 35%;
  
  }
}

@media (min-width: 2101px) and (max-width: 2300px) {
  .slider-text {
    font-size: 190%;
  }
}

@media (min-width: 2300px) and (max-width: 2450px) {
  .slider-text {
    font-size: 205%;
  }
}

@media (min-width: 2451px) and (max-width: 2700px) {
  .slider-text {
    font-size: 220%;
  }
}

@media (min-width: 2701px) and (max-width: 4500px) {
  .slider-text {
    font-size: 230%;
  }
} */

/* @media (min-width: 1750px) and (max-width: 1900px) {
  .slider-image {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    text-align: justify;
    font-size: 140%;
    margin-right: -9vw;
    color: black;
    box-sizing: border-box;
    width: 60vw;
  
  }

  .slider-description {
    width: 35vw;
    
  }

} */

/* @media (min-width: 1901px) and (max-width: 2000) {
  .slider-image {
    width: 130%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-imagemobile {
    margin-left: auto;
    margin-right: auto;
  }
  .slider-image-containermobile {
    display: flex;
    justify-content: center;
  }
  
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 38%;
    margin-right: 2%;
    text-align: justify;
    font-size: 125%;
    color: black;
    box-sizing: border-box;
  
  }
  h3 {
    font-size: 3.9vw;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .slider {
    position: absolute;
    top: 31%; left: auto;
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000000000;
    margin: auto;
  }

} */

/* @media (min-width: 800px) and (max-width: 1200px) {
  .slider-image {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 41%;
    margin-right: 18%;
    text-align: justify;
    font-size: 85%;
    color: black;
    box-sizing: border-box;
  
  }

} */

/* @media (min-width: 0px) and (max-width: 675px) {
  .slider-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-text {
    text-shadow: 2px 2px 1.5px #474747;
    position: absolute;
    margin-left: 43%;
    margin-right: 8%;
    text-align: justify;
    font-size: 45%;
    color: black;
    box-sizing: border-box;
  
  }

} */




@media (min-width: 750) {


.loader {
  width:1%;
  align-self: center;
  margin-top: 20vh;
  -webkit-animation: load 15s linear forwards;
    animation: load 15s linear forwards;
    z-index: 500000000000000000;

}


/* .loadercontainer {
  width: 5%;
  position: absolute;
  padding-top: 10%;
  padding-bottom: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}*/
} 

.page {

  -webkit-animation: fadeinoutpage 1s linear forwards;
    animation: fadeinoutpage 1s linear forwards;
    z-index: 50000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

@media (orientation: landscape) {
  .nav-menu-itemsmobile {
    z-index: 45000000;
    padding: 0rem;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    overflow: scroll;
  }
  .responsive-player-mobile {
    width: 80%;
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    z-index: 4500000000;
  }
}

@media (min-width: 344px) and (max-width: 750px) {

.slidermobile {
  width: 100vw;
  position: absolute;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: auto;
  margin-top: -13vh;
}
}


/* @media (min-width: 700px) and (max-width: 800px) {
.nav-menu {
  background-color: #060b2665;
  width: fit-content;
  height: 150vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding-top: 8vh;
  left: -100%;
  transition: 850ms;
  z-index: 35;
}

.slider-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  top: 35%;

}

.slider-text {
  margin-right: 4%;
  font-size: 56%;
}
} */

p2 {
  font-size: 0.8em;
  margin-right: 15vw;
  /* text-shadow: rgb(6, 5, 0) 1px 0 8px; */
}

p3 {
  font-size: 1.4vw;
  margin-left: 35vw;
  margin-right: 15vw;
  /* text-shadow: rgb(6, 5, 0) 1px 0 8px; */
  color: black;
  margin-top: 4vw;
  position: absolute;
  z-index: 1000;
}

p4 {
  font-size: 0.8em;
}

